
---
import Container from "../../components/container.astro";
import Layout from "../../layouts/layout.astro";
import "../../styles/global.css";
---

<Container>
  <h1 class="sm:my-4"> Dress Code </h1>
    <p>
    The dress code for the event is black tie.
    </p><p>Those who identify as gentlemen should ideally wear a black 
    tuxedo, although a dark (preferrably black) suit with a black tie or bowtie would be an acceptable alternative. 
    </p><p>Those who identify as ladies should wear a cocktail dresses or evening gowns. Short dresses are discouraged.
    </p><p>If you wear a white (or off-white) a bridesmaid may or may not murder you.
    </p><p>Note: the wedding will be mostly outdoors, and there will be gravel. You might want to wear block heels instead of stilettos.
    </p><p>
 For inspiration, see the photos below.
    </p>
    <div class="sm:m-2 sm:mt-5">
      <img class="w-full" src="/WebsiteGuide2.png" alt="Image of examples of expected dress code" />
    </div>
</Container>
