
---
import Container from "../../components/container.astro";
import Layout from "../../layouts/layout.astro";
import "../../styles/global.css";
---

<Container>
  <h1 class="sm:my-4"> Dress Code </h1>
    <p>
    The dress code for the event is black tie.
    </p><p>Those who identify as gentlemen should ideally wear a black 
    tuxedo, although a dark (preferrably black) suit with a black tie or bowtie would be an acceptable alternative. 
    </p><p>Those who identify as ladies should wear a cocktail dresses or evening gowns. Short dresses are discouraged.
    </p><p>If you wear a white (or off-white) a bridesmaid may or may not murder you.
    </p><p>
 For inspiration, see the photos below (which will be added shortly). 
    </p>
