---
import Container from "../../components/container.astro";
import Layout from "../../layouts/layout.astro";
import "../../styles/global.css";
---

<Container>
  <h1 class="sm:my-4"> Getting There </h1>
      <div
        class="mx-4 sm:mx-auto flex flex-col gap-4 sm:gap-6 mb-5"
      >
        <div class="text-lg text-center">
          The wedding is around an hour drive outside of Barcelona. Ideally, you should fly to Tarragona and stay near the venue.  
        </div>
      </div>

      <p> 
      It is easier to get to the venue from Tarragona Airport than Barcelona airport, and you can fly to Tarragona from London, Leeds, and Manchester airports. From Tallinn, you will have to go to Barcelona.  
      <div class="text-xl sm:my-2 pt-2">The Venue</div>
      <p>
        Our wedding will be held at Castell de Tamarit, which is about an hours
        drive outside of Barcelona.
      </p>
      <p>
        There are places to stay nearby the venue (around a 5 minute taxi), but
        it would be possible to stay in Barcelona and travel to the wedding on the day.
      </p>
      <p>
      </p>
      <p>Heres a map with the location:</p>
      <div class="aspect-[3/2] mt-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.202223152494!2d1.3585320756499526!3d41.13011121191464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a3fa99aaaaaaab%3A0x63e2a054739ce391!2sCastell%20de%20Tamarit!5e0!3m2!1sen!2suk!4v1758049868237!5m2!1sen!2suk"
          class="w-full h-full"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
</Container>
<style>
</style>
