---
import Container from "../../components/container.astro";
---

<Container>
  <div class="sm:my-3">
    <h1>Olga and Joe</h1>
    <h1>are getting married!</h1>
  </div>
  <div class="mx-4 sm:mx-auto flex flex-col gap-4 sm:gap-6 mb-5">
    <div class="text-lg text-center">
      Joseph Buckley and Olga Sutskova will be getting married on 17th May 2026,
      at Castell de Tamarit. 
    </div>
    <div class="text-center pt-4">
      Please arrive at the venue for 4pm, as the ceremony will commence at 4:30pm.
    </div>
    <div class="text-center pt-4">
      There will be coaches organised to transport people to the venue. They will be picking up and dropping off at Hotel Altafulla Mar, and Tamarit Beach Resort. We will give exact timings shortly, but going back, there will be one at midnight, and one at 3am.
    </div>
  </div>
</Container>

<style>
  p {
    font-size: var(--text-sm) /* 0.875rem = 14px */;
    line-height: var(
      --tw-leading,
      var(--text-sm--line-height) /* calc(1.25 / 0.875) ≈ 1.4286 */
    );
  }
</style>
