---
import Container from "../../components/container.astro";
---

<Container>
  <div class="sm:my-3">
    <h1>Olga and Joe</h1>
    <h1>are getting married!</h1>
  </div>
  <div class="mx-4 sm:mx-auto flex flex-col gap-4 sm:gap-6 mb-5">
    <div class="text-lg text-center">
      Joseph Buckley and Olga Sutskova will be getting married on 17th May 2026,
      at Castell de Tamarit. 
    </div>
    <div class="text-center pt-4">
      Please arrive at the venue for 4pm, as the ceremony will commence at 4:30pm.
    </div>
    <div class="text-center pt-4">
      Transportation to the venue and return has been arranged with the following schedule:
      <div class="text-left inline-block mt-2">
        <p class="mt-3"><strong>Departure Altafulla Mar Hotel --&gt; Castell de Tamarit</strong></p>
        <p><strong>15:30 pm (2 transports 30 &amp; 55 pax each)</strong></p>
        <p class="mt-3"><strong>Departure Castell de Tamarit --&gt; Altafulla Mar Hotel</strong></p>
        <p><strong>00:00 am - 02:00 am - 03:15</strong></p>
        <p><strong>Transports 30 pax</strong></p>
      </div>
      <p class="mt-4">Outside of these confirmed schedules, the venue personnel can call taxis for guests, but please keep in mind 20-30min waiting time.</p>
    </div>
  </div>
</Container>

<style>
  p {
    font-size: var(--text-sm) /* 0.875rem = 14px */;
    line-height: var(
      --tw-leading,
      var(--text-sm--line-height) /* calc(1.25 / 0.875) ≈ 1.4286 */
    );
  }
</style>
