---
import Container from "../../components/container.astro";
import Layout from "../../layouts/layout.astro";
import "../../styles/global.css";
---

<Container>
  <h1 class="sm:my-2">Useful Info</h1>
  <div> 

    <h2 class="text-xl mt-4">Gifts</h2>
    <p> The best gift you can give us is your attendence at the wedding. The second best gift would be contributions towards renovating our new home. 
    </p><p>
    As we are having to fly to and from the area, we would discourage physical gifts. We will update this shortly with a way for you to give us these gifts.
    </p>
  <div>
    <h2 class="text-xl mt-4">Guest Book</h2>
    <p>
    We are hoping to put together a guest book, with some memories and photos of us with our guests. We will shortly add a link below to a website where you can add photos of you and us, and a place to share any memories or wishes you have.  
    </p>
    <h2 class="text-xl mt-4">Hotels</h2>
    <p>
    We will be staying in <a href="https://www.altafullamarhotel.com">Altafulla Mar hotel</a>, around a 5 minute taxi from the venue. There are quite a few other hotel in Altafulla if you want alternatives. There are also some more budget friendly options closer to Tamarit.
    </p>
    <p class="mt-4">Heres a gif of an octopus punching a fish, for posterities sake.</p>
    <img
      class="w-full"
      src="/octopus-punch.gif"
      alt="Octopus punch animation"
    />
  </div>
</Container>
<style></style>
