---
import Container from "../../components/container.astro";
import Layout from "../../layouts/layout.astro";
import "../../styles/global.css";
---

<Container>
  <h1 class="sm:my-2">Useful Info</h1>
  <div>
    <p>
      There is currently no useful info. I will add some soon. I was going to
      put a cool animal fact here, so I asked Olja what her favourite animal
      fact was and she said:
    </p>
    <p class="text-center">"Octopuses punch fish sometimes"</p>
    <p>Heres a gif:</p>
    <img
      class="w-full"
      src="/octopus-punch.gif"
      alt="Octopus punch animation"
    />
  </div>
</Container>
<style></style>
