---
import Container from "../components/container.astro";
---

<Container>
  <h1 class="sm:my-2">Things to do in Barcelona</h1>
  <p>
    We will fill this up with some of our favourite places to go in Barcelona.
    Including the restaurant that does the best pasta ever for a fiver.
  </p>
  <img class="w-full" src="/octopus-punch.gif" alt="Octopus punch animation" />
</Container>

<style>
  p {
    font-size: var(--text-sm) /* 0.875rem = 14px */;
    line-height: var(
      --tw-leading,
      var(--text-sm--line-height) /* calc(1.25 / 0.875) ≈ 1.4286 */
    );
  }
</style>
