---
import Container from "../../components/container.astro";
import Layout from "../../layouts/layout.astro";
import "../../styles/global.css";
---

<Container>
  <h1 class="sm:my-2 cursive-russian">Дополнительная Информация</h1>
  <div>
    <p>
    В настоящее время здесь нет дополнительной информации, но скоро мы её добавим.
    <p>
      А пока, я хотел поделиться любопытным фактом о животных которыя я узнал у Оли. 

Она ответила:
</p>  
    <p class="text-center">«То что Осьминоги иногда бьют рыб»</p>
    <p>Ниже ГИФка этого факта :</p>
    <img
      class="w-full"
      src="/octopus-punch.gif"
      alt="Octopus punch animation"
    />
  </div>
</Container>
<style></style>
