---
import Container from "../../components/container.astro";
import Layout from "../../layouts/layout.astro";
import "../../styles/global.css";
---

<Container>
  <h1 class="sm:my-2">информация</h1>
  <div>
    <p>
    В настоящее время нет полезной информации. Я скоро добавлю ее. Я хотел разместить здесь интересный факт о животных, поэтому спросил Олю, какой факт о животных ей нравится больше всего, и она ответила:
    </p>
    <p class="text-center">«Осьминоги иногда бьют рыб»</p>
    <p>HВот гифка:</p>
    <img
      class="w-full"
      src="/octopus-punch.gif"
      alt="Octopus punch animation"
    />
  </div>
</Container>
<style></style>
