---
import Moon from "astro-heroicons/outline/Moon.astro";
import Sun from "astro-heroicons/outline/Sun.astro";
// const { currentLocale } = Astro;
const langs = ['en', 'ru'];
const currentLocale = "en";
---
<div class="h-26 flex flex-col w-full">
  <!-- <div class="h-60 pt-6 flex flex-col"> -->
  <div class="w-full flex items-center my-0 mt-2">
    <img class="w-20 h-20 ml-4 md:ml-8" src="/logo.png"/>
  </div>
  <div class="flex my-2 mt-0 sm:mt-2 w-full text-center">
    <div class="mx-auto">
      <a class="text-olive my-2 sm:my-8 text-xs sm:text-sm hover:underline" href={`/${currentLocale}/`}> 
        { currentLocale == "en" ? "RSVP" : "RSVP" }
      </a>
      <a class="text-olive my-2 sm:my-8 px-8 text-xs sm:text-sm hover:underline" href={`/${currentLocale}/getting-there`}>
        { currentLocale == "en" ? "Getting There" : "Место Торжества" }
      </a>
      <a class="text-olive my-2 sm:my-8 pr-8 text-xs sm:text-sm hover:underline" href={`/${currentLocale}/useful-info`}>
        { currentLocale == "en" ? "Useful Info" : "Информация"}
      </a>
      <a class="text-olive my-2 sm:my-8 pr-8 text-xs sm:text-sm hover:underline" href={`/${currentLocale}/dress-code`}>
        { currentLocale == "en" ? "Dress Code" : "Информация"}
      </a>
      <a class="text-olive my-2 sm:my-8 text-xs sm:text-sm hover:underline" href={`https://gifts.jolja.co.uk/gift?token=a7f3c9e1-4b82-4d6a-b5e0-9c2f8d1e3a47`}>
        { currentLocale == "en" ? "Gifts" : "Информация"}
      </a>
      <!-- <a class="text-olive m-2 sm:m-8 text-xs sm:text-sm hover:underline" href="/things">BCN</a> -->
    </div>
  </div>
</div>

<script>
  // if (
  //   localStorage.theme === 'dark' ||
  //   (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
  // ) {
  //   document.documentElement.classList.add('dark');
  // } else {
  //   document.documentElement.classList.remove('dark');
  // }
</script>
