---
import Moon from "astro-heroicons/outline/Moon.astro";
import Sun from "astro-heroicons/outline/Sun.astro";
---
<div class="h-24 pt-6 flex flex-col w-full">
<!-- <div class="h-60 pt-6 flex flex-col"> -->
    <div class="w-full flex items-center my-0 mt-2">
      <div class="mx-10 text-red text-2xl cursive">
        Jolja Wedding!
      </div>
    </div>
    <div class="flex my-2 mt-0 sm:mt-0 w-full">
      <div class="mx-auto">
        <a class="text-olive m-2 ml-6 sm:m-8 text-xs sm:text-sm hover:underline" href="/">RSVP</a>
        <a class="text-olive m-2 sm:m-8 text-xs sm:text-sm hover:underline" href="/getting-there">Getting There</a>
        <a class="text-olive m-2 sm:m-8 text-xs sm:text-sm hover:underline" href="/useful-info">Useful Info</a>
        <a class="text-olive m-2 sm:m-8 text-xs sm:text-sm hover:underline" href="/things">BCN</a>
      </div>
    </div>
</div>

<script>
// if (
//   localStorage.theme === 'dark' ||
//   (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
// ) {
//   document.documentElement.classList.add('dark');
// } else {
//   document.documentElement.classList.remove('dark');
// }
</script>