---
import Moon from "astro-heroicons/outline/Moon.astro";
import Sun from "astro-heroicons/outline/Sun.astro";
---
<div class="h-24 pt-6 flex flex-col w-full">
<!-- <div class="h-60 pt-6 flex flex-col"> -->
  <div class="w-full mx-auto">
    <div class="flex items-center">
      <div class="mx-4 text-2xl dark:text-stone-300">
        Jolja Wedding!
      </div>
      <div id="toggleDarkMode" class="ml-auto mr-8 cursor-pointer h-6 w-6 text-slate-500">
        <Sun class="hidden dark:block"/>
        <Moon class="dark:hidden"/>
      </div>
    </div>
    <div class="flex my-2 sm:mt-0">
      <div class="ml-0">
        <a class="text-slate-500 m-2 ml-6 sm:m-8 text-xs sm:text-sm hover:underline" href="/">rsvp</a>
        <a class="text-slate-500 m-2 sm:m-8 text-xs sm:text-sm hover:underline" href="/abc">getting here</a>
        <a class="text-slate-500 m-2 sm:m-8 text-xs sm:text-sm hover:underline" href="/featured">useful info</a>
      </div>
      <div class="ml-auto mr-0">
        <!-- <a class="text-slate-500 m-8 text-xs sm:text-sm hover:underline" href="/about">about</a> -->
      </div>
    </div>
  </div>
</div>

<script>
function toggleTheme() {
  console.log('toggling theme');
  document.documentElement.classList.toggle('dark');
  // Optionally store preference
  // localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
}
const button = document.querySelector('#toggleDarkMode');
button.addEventListener('click', toggleTheme);

// if (
//   localStorage.theme === 'dark' ||
//   (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
// ) {
//   document.documentElement.classList.add('dark');
// } else {
//   document.documentElement.classList.remove('dark');
// }
</script>