---
import '../styles/global.css';
import Nav from '../components/nav.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jolja Wedding</title>
	</head>
	<body class="w-full h-full bg-light">
		<Nav class="w-full"/>
    <slot/>
  </body>
</html>